SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/2998b619-a7bf-4378-ac3a-fc30967ebcf0.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/5e18fb1e-930f-48cb-b6fc-b9d2dea1a500.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/886df942-24d7-4a9e-80e1-62883be2cabc.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/b0c9e79e-1729-4aa0-bc3e-479d398b99d4.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/fb6e0416-86fa-427e-9a43-b0ae026b1a9d.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/d19ba264-b34a-4d08-b711-4a29002aa2f9.vsidx
