SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/6ff9a1fe-7b25-42ef-a042-d0e7f76dd74d.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/075f4f07-0f3e-4b81-b68c-c57f643cd539.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/60f40722-92ad-425a-8bc9-985ea86fb7d3.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/0c7d49e8-bb44-4429-81d8-d3737ceb0327.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/84cca6cb-144a-4c9e-87eb-7ac0b72cfeea.vsidx
SmartHouseProject/SmartHouseProject/obj/Debug/net6.0/SmartHouseProject.AssemblyInfoInputs.cache
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/9ec46591-9cb1-42e0-b47b-55a8c6256392.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/bea6fd63-0ec4-4848-9008-0fd9618e4ff7.vsidx
SmartHouseProject/.vs/SmartHouseProject/FileContentIndex/fb6e0416-86fa-427e-9a43-b0ae026b1a9d.vsidx
